@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

.profile-img-nav {
  min-width: 35px;
  min-height: 35px;
  max-height: 35px;
  max-width: 35px;
  border: solid 1px #000;
}

main > .container {
  padding-top: 80px;
  padding-bottom: 110px;
}

// .post-max-width {
//   max-width: 49%;
// }

h3 {
  font-size: 1.2rem;
}

p.date {
  font-size: 0.8rem;
}
.card-body {
  min-height: 500px;
  max-height: 500px;
}
.card-img {
  max-height: 250px;
  object-fit: cover;
}
